<h2>Маршрутні листи по автівці</h2> 
<br/>

<br/><br/>
<%= @aorders.explain %>
<br/><br/>
<%= @odates.explain %>
<br/><br/>


<% @odates.each do|d|  %>
	<h3>Дата: <%= d[:thedate].strftime('%Y.%m.%d') %></h3>
	<table class="routelist">
		<tr>
			<th>Пункт(и) призначеня</th>
			<th>Час початку руху</th>
			<th>Час закінченя руху</th>
			<th>Спідометр на початку</th>
			<th>Спідометр в кінці</th>
			<th>Дистанція</th>
			<th>ПІБ відповідальної особи</th>
		</tr>
		<tr>
			<td>Пункт(и) призначеня</td>
			<td>Час початку руху</td>
			<td>Час закінченя руху</td>
			<td>Спідометр на початку</td>
			<td>Спідометр в кінці</td>
			<td>Дистанція</td>
			<td>ПІБ відповідальної особи</td>		
		</tr>
  </table>

<% end %>
