f#top_all{
    display: block;
    float: left;
    height: 80px;
    /*width: 1000px;*/
}

#top_msg{
    position: relative;
    display: block;
    font-size: large;
    top: 10px;
    float: left;

}

#top_btns{
    position: relative;
    display: block;
    float: left;
    margin-left: 2em;
    /*width: 150px;*/
}

#one_btn{
    float:left;
}

#status_wrapper{
    position: relative;
    display: block;
    /*width: 300px;*/
    float: left;
    margin-left: 2em;
}


#date_change{
    display: block;
    position: absolute;
    float: left;
    left:10px;
    top: 50px;
    height: 40px;
}

#date_msg{

}

#date_field{

}

#pic1{
    display: block;
    float: right;
    margin-right: 0em;

}

#olist_wrapper{
/*     position: absolute;*/
    display: block;
/*    top: 100px;*/
    float: left;
    margin-right: 1em;
}

#new_order{
    margin-top: 1em;
}

#onlineautos{
    position: relative;
    display: block;
    float: left;
    margin-top: 1em;
    width: 100%;
/*    margin-right: 100%;*/
}

#links{
    width :600px;
    position: relative;
    display: block;
    float: left;
    margin-top: 1em;
}



table.allorderlist{
    margin-top: 0em;
    border-spacing: 0px;
    border-color: black;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    width: 100%;
    table-layout: fixed;
}


table.allorderlist th{
/*    border-color: black; */
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    background-color: #B9EFFF;
    /*font-size: small;*/
}

table.allorderlist td{
/*    border-color: black; */
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    background-color: #FFFFFF;
}

table.allorderlist td.badodometer {
    background-color: #FF8800;
}

table.allorderlist th.nomer{ width: 3em}
table.allorderlist th.fio{ }
table.allorderlist th.depart{ }
table.allorderlist th.contact{}
table.allorderlist th.destination{}
table.allorderlist th.time{ width: 4em }
table.allorderlist th.auto{ }
table.allorderlist th.odometer{ width: 6em; }
table.allorderlist th.outofcity{ width: 4em; }
table.allorderlist th.comment{ }
table.allorderlist th.management{ width: 100px}
table.allorderlist th.owner{ width: 6em}

table.allorderlist td input{ 
    font-size: small;
    width: 90%;
}
table.allorderlist td select{ width: 98%}
table.allorderlist td .time_selector{ 
    font-size: small;
    width: auto;
}


#table_inactive {
    color: gray;
    border-color: gray;
}

#table_active {
    color: black;
    border-color: black;
}


table.onlineautolist{
    table-layout: fixed;
    margin-top: 0px;
    border-spacing: 0px;
    border-color: black;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
}

table.onlineautolist th{
/*    border-color: black; */
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    background-color: #B9EFFF;
 /*   font-size: small;*/
}

table.onlineautolist th.name{ width: 12em;}
table.onlineautolist th.autodesc{ width: 10px;}
table.onlineautolist th.autonumber{ width: 10px;}
table.onlineautolist th.contact{ width: 10px;}
table.onlineautolist th.onduty{ width: 10px;}
table.onlineautolist th.todel{ width: 10px;}
table.onlineautolist th.toduty{ width: 10px;}
table.onlineautolist th.workingtime{
    color: black;
    width: 10px;
}
table.onlineautolist th.notworkingtime{
    color: gray;
}


table.onlineautolist td{
/*    border-color: black; */
    padding: 0px;
    margin: 0px;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    background-color: #FFFFFF;
}

table.onlineautolist td.time{
    width: 3px;
}

table.onlineautolist td.timebusy{
    background-color: wheat;
    width: 3px;
}
table.onlineautolist td.timeverybusy{
    background-color: lightcoral;
    width: 3px;
}


table.onlineautolist tr{ height: 3em;}
table.onlineautolist tr.ruler{ height: 2px;}


/*#aorder_aauto_id{
    width: 100%;
    display: block;
}*/

#onlineauto_aauto_id{
    width: 150px;
    display: inline;
}

#tek_date{
    width: 100px;
}

#tabel {
    margin-top: 40px;
}

#tabel td {
    font-size:smaller;
}

#tabel th.id{
    width: 12px;

}

#tabel th.name{
    width: 8em;
}

#tabel td.name{
    background-color: wheat;
    width: 10em;
}

#tabel td.bottom{
    border-width: 1px 1px 2px 0px;
    border-style: solid;
}

#tabel td.bad_day{
    font-weight: bold;
    color:#cc0033;
    background-color:#cccccc !important;
    border-width: 2px 2px 2px 0px;
    border-style:solid;
}

#tabel_company{
    display: block;
    position: absolute;
    float: left;
    left:10px;
    top: 45px;
    height: 40px;
}

#tabel_date{
    display: block;
    position: absolute;
    float: left;
    left:300px;
    top: 50px;
    height: 40px;
}

.highlighted {
    background-color: #9999FF !important;
}

#flash{
    display: block;
    float: left;
    margin-top: 1em;
    position: relative;
    width: 100%;
}

